<ion-view view-title="" hide-nav-bar="false" class="modal image-modal transparent" >
  <div id="category-modal">
    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
      <button class="itemButton button-border-b button button-icon ion-chevron-left" ng-click="closeModal()" > {{"back" | translate}}</button>  
      </ion-nav-buttons>
        
      
      <ion-nav-buttons side="right">        
        
      </ion-nav-buttons>

    </ion-nav-bar>

    <div id="editCategoryName" class="item-input-inset ">
      <label class="item-input-wrapper category-name" > 
        <i class="icon ion-android-create placeholder-icon"></i>
        <input type="text" id="categoryNameName" ng-model="currentCategory.name" placeholder="Item Name">
      </label>
    </div>


  <div class="bar bar-subheader bar-stable">
    <button class="button button-icon ion-plus-circled" id="current_category" current-category-id="{{currentCategory.id}}" ng-click="addNewItem('current_category')" >{{"add_a_new_item_to_this_category" | translate}}</button>       
  </div>

    <ion-content class="has-subheader">       
      <div ng-if="currentCategory.items.length > 0" class="category-items">
        <div id="reorder" class="nowrap"><i class="ion-navicon"></i> {{"reorder" | translate}}</div>

        <ion-list show-delete="data.showDelete" show-reorder="shouldShowReorder" class="max-width left">
          <ion-item ng-repeat="item in currentCategory.items | orderBy:'-' track by $index" item="item" class="item item-text-wrap item-thumbnail-left item-remove-animate" >

            <div class="thumbnail category-tmb" > 
            <img ng-src="{{item.default_image.image_name}}" alt="{{ item.name }} Photo" onerror="ImgError(this)" class="portrait">
            </div>
            <div class="category-item-name" >
              <p>{{item.name | limitTo: 60}} {{item.name.length > 60 ? '&hellip;' : ''}}</p>          
            </div>       
              <ion-reorder-button class="ion-navicon" on-reorder="reorderItems(item, $fromIndex, $toIndex)"></ion-reorder-button>

          </ion-item>
        </ion-list>               
      </div>
<button class="button button-block assertive button-icon ion-trash-b" ng-click="deleteCategory(currentCategory);" > {{"delete_this_category" | translate}}</button>
      <div ng-if="currentCategory.items.length > 0" class="category-items">      
        <ion-list  class="max-width left">
          <ion-item ng-repeat="item in currentCategory.items | orderBy:'-' track by $index" item="item" class="item item-text-wrap item-thumbnail-left item-remove-animate my-category-item" ng-style="{'top': (currentCategory.items.length * -107)+'px'}">
            <div class="thumbnail category-tmb category-ghost" > 
            <a href="#/app/item/{{item.id}}"><img ng-src="{{item.default_image.image_name}}" alt="{{ item.name }} Photo"  onerror="ImgError(this)" class="portrait"></a>
            </div>

          </ion-item>
        </ion-list>               
      </div>

      
    
      

        <script language="JavaScript" type="text/javascript">
        function ImgError(source)
        {
          $("#li_"+source.id).remove();
          $("#slides_to_remove").val($("#slides_to_remove").val() +',' + "li_slide_"+source.id);
          return true;
        }
        </script>      
    </ion-content>
    

  </div>
</ion-view>