<ion-view class="home-view" view-title="">

<ion-nav-bar class="bar bar-positive" >
      <ion-nav-back-button>
      </ion-nav-back-button>
      
      <ion-nav-buttons side="right">
       <!-- New Item button 
        <div id="home-search-btn" class="right">
          <button  class="button button-icon ion-arrow-right-c" ng-click="addNewItem()" ng-if="user.categories.length > 0"> </button>
        </div>
        -->        
                
      </ion-nav-buttons>
</ion-nav-bar>

<div id="editItemNameHome" class="item-input-inset">
  <label class="item-input-wrapper"> 
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" id="itemDataNameHome"  ng-model="itemData.name" placeholder="Search a place" searchKey="TEST">
  </label>
  <button style="position:absolute; right:15px; top:13px; color:#0c60ee; font-weight:bold" class="icon ion-arrow-right-a" ng-click="addNewItem()" ng-if="user.categories.length > 0"></button>
  <!--
<i style="color:#0c60ee; font-weight:bold" class="icon ion-arrow-right-a" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-arrow-right-b" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-arrow-right-c" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-chevron-right" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-play" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i> 
<i style="color:#0c60ee; font-weight:bold" class="icon ion-ios-arrow-right" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-ios-play" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-ios-play-outline" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-android-arrow-forward" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-android-arrow-dropright" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
<i style="color:#0c60ee; font-weight:bold" class="icon ion-android-arrow-dropright-circle" ng-click="addNewItem()" ng-if="user.categories.length > 0"></i>
-->



</div>

  <div class="bar bar-subheader item-input-inset bar-stable">    
        <div class="mainHeader"> 
          <!-- Disable the left menu for now
          <div id="button_side_menu">                     
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            <div id="home-notifications" class="badge badge-assertive" menu-toggle="left" ng-if="notifications >0">{{notifications}}</div>
          </div>
          -->
          <div id="button_friends">                     
              <button id="btn_friends" class="itemButton button button-icon ion-ios-people active" ng-click="showHomeTab('friends')" > </button>
          </div>              
          <div id="button_home_main">          
            <button id="btn_home_main" class="itemButton button button-icon ion-earth" ng-click="showHomeTab('home_main')" > </button>   
          </div>
        </div> 
  </div>

  <ion-content class="has-subheader padding" style="top:65px !important" delegate-handle="mainScroll">

    <ion-refresher on-refresh="doRefresh()"></ion-refresher>

    <div class="bar item-input-inset bar-light connection-status connection-status-home">

      
        <div id="not-connected" class="bar bar-assertive" ng-click="notConnected()">
          <div class="connection-status-text">Working Offline</div>
        </div>
        
        <div id="connected"  class="bar bar-balanced" ng-click="connected()">
          <div class="connection-status-text">Working Online</div>
        </div>
        <div id="connecting" class="bar bar-balanced" ng-click="connecting()">
          <div class="connection-status-text"><div class="connecting">Connecting <img src="img/loading.gif" height="20px" class="loading" ></div> </div>
        </div>
      
    
    </div>


<div id="home_main">
    <div id="wrapperV">
        <div id="scrollerV" >
          <ul id="scrollerList">
            <li ng-repeat="category in user.categories | filter:categoryHasVisibleItems track by $index" >                  
              <div  class="item-input">
                <div class="category-wrapper">
                  <a href="#" class="category-link" ng-click="editCategory({{category.id}})">
                  <label class="item-input">            
                    <div class="categoryName" id="category_{{category.id}}" >
                      <h1>
                        {{category.name}}        
                      </h1>
                    </div>
                  </label>
                </a>
                </div>        
              </div>              
              <div class="category"  id="wrapper{{$index}}">
                <div id="scroller{{$index}}" style="width:{{((category.items.length +1) * 160) + 300}}px">
                  <ul>
                    <li ng-repeat="item in category.items | orderBy:'-' | filter: query track by $index " item-height="140" item-width="140" >
                      <div class="photo" id="image_wrapper_{{category.id}}_{{$index}}">
                        <a href="#/app/item/{{item.id}}">
                          <div class="thumbnail" >  
                            <img ng-src="{{item.default_image.image_name}}" src="icons/apple-icon-precomposed.png" alt="{{ item.name }} Photo" class="portrait" onerror="ImgError(this)" on-hold="onHold('{{$index}}','{{category.id}}')">
                          </div>
                        </a>
                        <p>{{item.name | limitTo: 39}} {{item.name.length > 39 ? '&hellip;' : ''}}</p>
                      </div>
                    </li>
                    <li>
                      <div class="photo"><button class="button button-icon ion-plus-circled" ng-click="addNewItem('{{category.id}}')" > Add a new item to this category</button>
                      </div>
                    </li>                    
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div id="no-categories">
                  <button class="button button-icon ion-plus-circled" ng-click="addNewCategory()" > Add a new category</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
  </div>


<div id="friends">
     <div id="friends-list" class="list" ng-repeat="friend in user.friends">
        <a class="item item-avatar" href="#/app/friends/{{friend.user_id}}" ng-click="removeNotifications({{friend.user_id}})">
          <img ng-src="{{friend.picture}}">
          <h2>{{friend.name}}</h2>
          <span class="badge badge-assertive" ng-if="friend.notified">1</span>
          <p><b>Categories:</b> {{friend.category_names}}</p>
        </a>
    </div>
</div>

  

     


      <script language="JavaScript" type="text/javascript">
      function ImgError(source)
      {
        source.src = "icons/apple-icon-precomposed.png";
        return true;
      }
      </script>




  </ion-content>
  
</ion-view>
